<!DOCTYPE html>
<html>
<head>
    <title>Crontab Service Manage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
     <style>
        @import "static/style.css";
    </style>
</head>
<body>
<table id="table">
    <caption>
        计划任务管理器<br>
        <small>启动于：{{.init_time}}，运行时长：{{.init_time_dur}}</small>
    </caption>
    <thead>
    <tr>
        <th class="id">ID</th>
        <th class="desc">描述</th>
        <th class="exp">周期</th>
        <th class="pre_start">上次开始时间</th>
        <th class="next_start">下次开始时间</th>
        <th class="count">次数</th>
        <th class="status">状态</th>
        <th class="type">类型</th>
        <th class="trigger_at">触发时间</th>
        <th class="options">操作</th>
    </tr>
    </thead>
    <tbody>
    {{range $k,$item := .rows}}
        <tr>
            <td>{{$item.JobID}}</td>
            <td class="desc">{{$item.Description}}</td>
            <td>{{$item.CronExp}}</td>
            <td>{{date1 "2006-01-02 15:04:05" $item.PrevAt "未启动"}}</td>
            <td>{{date1 "2006-01-02 15:04:05" $item.NextAt ""}}</td>
            <td>{{$item.TriggerCount}}</td>
            <td>{{if gt $item.RunningCount 0 }}<span style="color: greenyellow;">运行中({{$item.RunningCount}})</span>{{else}}<span style="color: gray;">未运行</span>{{end}}</td>
            <td>{{if $item.Mutex}}互斥{{else}}<span style="color: gray;">并行</span>{{end}}</td>
            <td>{{date1 "2006-01-02 15:04:05" $item.TriggerAt  "未触发过"}}</td>
            <td>
                <a class="opt trigger" href="triggerjob?jobid={{$item.JobID}}">手动触发</a>&nbsp;&nbsp;
                <a class="opt" href="history?jobid={{$item.JobID}}">历史</a>
            </td>
        </tr>
    {{end}}
    </tbody>
</table>
<script src="static/jquery.js"></script>
<script>
    $(function () {
        $("a.trigger").click(function () {
            if (!confirm("确定立即触发执行这个任务吗？")) {
                return false;
            }
            $.getJSON(this.href, function (d) {
                if (d.code != 200) {
                    alert('触发失败，错误信息：' + d.msg);
                    return;
                }
                //alert('执行成功！');
                location.reload();
            });
            return false;
        });
    });
</script>
</body>
</html>